$color-primary: #fffdfe;
$color-secondary: #000;
$color-accent: #395c00;

$color-black: #000;
$color-grey-1: #555;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Cinzel', serif;

//FONT-SIZE
$default-font-size: 1.6rem;
