$color-primary: #fffdfe;
$color-secondary: #000;
$color-accent: #e9a041;
// $color-accent: #395c00;

$color-black: #000;
$color-grey-1: #555;
$color-grey-2: #999;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Cinzel', serif;

$bezier-curve: cubic-bezier(0.86, 0, 0.07, 1);

//FONT-SIZE
$default-font-size: 1.6rem;
