.header {
  &__videos {
    height: 80rem;
    width: 100%;

    .video-overview {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color-secondary, 0.5);
      display: flex;
      justify-content: center;

      .actions {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          font-size: 4rem;
          background-color: transparent;
          color: $color-primary;
          border: none;
          cursor: pointer;
          transition: transform 0.5s $bezier-curve;
        }

        .prev-btn {
          &:hover {
            transform: translateX(-10px);
          }
        }

        .play-btn {
          font-size: 4rem;
          height: 10rem;
          width: 10rem;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          border-radius: 50%;
          overflow: hidden;
          border: 5px solid $color-primary;
          position: relative;

          i {
            position: absolute;
            top: 50%;
            left: 54%;
            transform: translate(-50%, -50%);
          }

          &:hover {
            transform: scale(1.15);
          }
        }

        .next-btn {
          &:hover {
            transform: translateX(10px);
          }
        }
      }

      .video-desc {
        width: 80%;
        text-align: center;
        align-self: flex-end;
        color: $color-primary;
        padding: 4rem 0;
      }
    }
  }

  .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;

    .label {
      width: 45rem;
      margin-bottom: 5rem;

      @include respond(tab-port) {
        width: 30rem;
      }

      @include respond(tab-port) {
        width: 25rem;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .video {
      aspect-ratio: 16 / 9;
      width: 80vw;
      overflow: hidden;

      @include respond(phone) {
        width: 90vw;
      }

      .youtube {
        width: 300%;
        height: 100%;
        /* ...and bring it back again */
        margin-left: -100%;
      }
    }
  }
}
.info {
  position: fixed;
  left: 0;
  bottom: 0;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  padding: 3rem;
  z-index: 1000;

  @include respond(tab-port) {
    padding: 1.5rem;
  }

  @include respond(phone) {
    padding: 0.3rem;
  }

  &--right {
    right: 0;
    left: auto;
    padding-right: 0;
    padding-bottom: 6rem;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include respond(phone) {
    // flex-direction: row;
    gap: 3rem;
  }

  li {
    a {
      color: inherit;
      font-size: 1.3rem;
      height: 3rem;
      width: 3rem;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;

      @include respond(phone) {
        font-size: 1rem;
      }
    }
  }
}

.scroll {
  display: block;
  transform: rotate(270deg) translate(-10%, 70%);
  color: $color-secondary;

  @include respond(phone) {
    transform: rotate(270deg) translate(-10%, 100%);
  }

  &::before {
    width: 0%;
    height: 100%;

    transition: width 0.5s;
    transition-timing-function: $bezier-curve;
  }

  &:hover,
  &:active {
    &::before {
      width: 100% !important;
    }
  }

  small {
    letter-spacing: 0.7em;
    padding-left: 1rem;
  }
}
