.header {
  .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

    .label {
      width: 45rem;
      margin-bottom: 5rem;

      @include respond(tab-port) {
        width: 30rem;
      }

      @include respond(tab-port) {
        width: 25rem;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .video {
      aspect-ratio: 16 / 9;
      width: 80vw;
      overflow: hidden;

      @include respond(phone) {
        width: 90vw;
      }

      .youtube {
        width: 300%;
        height: 100%;
        /* ...and bring it back again */
        margin-left: -100%;
      }
    }
  }

  .info {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    z-index: 1000;

    @include respond(tab-port) {
      padding: 1.5rem;
    }

    @include respond(phone) {
      padding: 1rem;
    }

    .socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      @include respond(phone) {
        // flex-direction: row;
        gap: 3rem;
      }

      li {
        font-size: 1.3rem;

        @include respond(phone) {
          font-size: 1rem;
        }

        a {
          color: $color-secondary;
        }
      }
    }

    .scroll {
      transform-origin: top right;
      display: block;
      transform: rotate(270deg);
      margin-right: 1.8rem;

      small {
        letter-spacing: 0.7em;
        padding-left: 1rem;
      }
    }
  }
}
